@model AdminIndexViewModel
<div class="btn-group-sm">
<a asp-controller="Product" asp-action="Create" class="btn-sm btn-secondary">Create new product</a>
<a asp-controller="Category" asp-action="Create" class="btn-sm btn-secondary">Create new category</a>
</div>
<a></a>
<div class="row">
    @foreach (var product in Model.Products)
    {
        await Html.RenderPartialAsync("_AdminProductCard", product);
    }
</div>
