@using MyShopPet.Data;
@model Tuple<List<Category>, string?>
<div class="d-flex">
	<a asp-action="Index" class="@((Model.Item2 == null) ? "btn btn-outline-primary" : "btn btn-outline-secondary")">All</a>
</div>
<div class="accordion accordion-flush" id="accordionFlushExample">
	@foreach (Category parentCategory in Model.Item1)
	{
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-heading-@parentCategory.Title">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@parentCategory.Title" aria-expanded="false" aria-controls="flush-collapse-@parentCategory.Title">
					@parentCategory.Title
				</button>
			</h2>
			<div id="flush-collapse-@parentCategory.Title" class="accordion-collapse collapse" aria-labelledby="flush-heading-@parentCategory.Title" data-bs-parent="#accordionFlushExample">
				@if (parentCategory!.ChildCategories!.Count > 0)
				{
					@foreach (string childCategory in parentCategory.ChildCategories.Select(e => e.Title))
					{

						<div class="accordion-body">
							<a asp-action="Index"
							asp-controller="Home"
							asp-route-category="@childCategory"
							class="@((childCategory == Model.Item2) ? "btn btn-outline-primary" : "btn btn-outline-secondary")">@childCategory
							</a>
						</div>

					}
				}
			</div>
		</div>
	}
</div>